
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  margin: 3em 30em;
  text-align: center;
  width: auto;
}

.Why {
  margin: 3em 30em;
  width: auto;
}

@media screen and (max-width: 440px) {
  .Header {
      margin: 0px;
  }
  .Why {
    margin: 0px;
    width: 25em;
  }
}

.p {
  margin-top: 50px;
  font-size: 1.5rem;
}

.listing {
  margin: 0 10em;
  display: grid;
  grid-template-columns: auto auto auto;
}

.state-list {
  margin: 1em;
  display: grid;
  grid-template-columns: auto auto auto;
}

.listing .state {
  margin-top: 2em;
}

.listing h2 {
  margin-bottom: 1em;
}

@media screen and (max-width: 440px) {
  .listing {
    margin: 0px;
  }

  .listing .state {
    margin: 0px;
  }
}
/* Actions */

.Actions {
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 10em;
}
/* Footer */

.Footer {
  text-align: center;
  margin-bottom: 3em;
}


@media screen and (max-width: 760px) {
  .Listings {
      width:auto;
      margin: 0px 30px;
  }
}

/* Mobile */

@media(max-width: 440px) {
  .App {
    text-align: center;
  }
  
  li {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 230px;
  }

  .big {
    font-size: 1.75rem;
  }
}
